<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="product_attributes_mass_action" frontName="product_attributes_mass_action">
            <module name="Magepow_ProductAttributesMassAction" before="Magento_Backend" />
        </route>
    </router>
</config>
